
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Task</th>
            <th scope="col">Check</th>
            <th scope="col">Done/In Progress</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tasks of getTask, let i = index">
            <td>{{ i+1 }}</td>
            <td>{{ tasks.task }}</td>
            <td><input type="checkbox" [checked]="tasks.status" (click)="change(i)"></td>
            <td [style.color]="tasks.status ? 'green' : 'red'" >{{ tasks.progress }}</td>
            <td><button (click)="edit(i)" type="button" class="btn btn-warning">Edit</button></td>
            <td><button (click)="delete(i)" [disabled]="!tasks.status" type="button" class="btn btn-danger">Delete</button></td>

        </tr>
        <tr *ngIf="save">
            <td></td>
            <td></td>
            <td></td>
            <td><input type="text" [(ngModel)]="inputSave" name="inputSave"></td>
            <td><button (click)="saveBtn()" type="button" class="btn btn-success">Save</button></td>
            <td></td>

        </tr>
    </tbody>
</table>
